<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/default" %>
  </head>
  <%= render "layouts/header" %>
  <body class="container">
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
